<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myspringcloud.zuul.dao.SysUserMapper">

    <resultMap type="com.myspringcloud.zuul.entity.SysUser" id="SysUserMap">
        <result property="id" column="ID" />
        <result property="username" column="USERNAME" />
        <result property="phone" column="PHONE" />
        <result property="password" column="PASSWORD" />
    </resultMap>

</mapper>